*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
    background-color: black;
    color: white;
}
h1,
h2,
h3,
h4,
h5,
h6{
    margin-top: 10px; 
}
p{
    margin-top:30px ;
    margin-bottom: 30px;
}

span{
    background-color: red;
}
pre{
    margin-top: 20px;
    background-color: rgb(2, 36, 43) ;
}
